<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation | Images</title>
    <link rel="stylesheet" href="/docs/docs.css">
    <script src="https://kit.fontawesome.com/284b0bb15e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="grid-page-layout">
        <header class="navbar-container-grid navbar-container-flex">
            <div class="navbar-logo">Logo</div>
            <div class="navbar-title">Swift UI <span style="color: black;"> v.1</span> </div>
            <div class="navbar-github"><a href="http://github.com/rkapoor10/swift-UI" target="blank"
                    class="flex-icons"><i class="fab fa-github"></i></a></div>
        </header>
        <div class="sidebar-container-grid">
            <div class="large-heading sidebar-heading">Components</div>


            <ul class="sidebar-items">
                <li class="sidebar-item"><a href="/components/avatar/avatar.html"><i
                            class="fas fa-user-tie s-icons"></i> Avatar</a></li>
                <li class="sidebar-item"><a href="/components/alert/alert.html"><i
                            class="fas fa-exclamation-circle s-icons"></i> Alert</a></li>
                <li class="sidebar-item"><a href="/components/badges/badges.html"><i
                            class="far fa-id-badge s-icons"></i> Badge</a></li>
                <li class="sidebar-item "><a href="/components/buttons/buttons.html"><i class="fas fa-mouse s-icons"></i> Button</a></li>
                <li class="sidebar-item"><a href="/components/cards/cards.html"><i class="fas fa-address-card s-icons"></i> Card</a></li>
                <li class="sidebar-item active-item"><a href="/components/image/image.html"><i class="far fa-images s-icons"></i> Image</a></li>
                <li class="sidebar-item"><a href="/components/input/input.html"><i class="far fa-keyboard s-icons"></i> Input</a></li>
            </ul>

        </div>


        <div id="image">
            <div class="component-flex">
                <div class="component-info">
                    <h1>Images</h1>
                    <p class="txt-m bd-btm mb-2">
                        Various forms of responsive images
                    </p>
                </div>
                <div class="component-display">
                    <h2 class="mb-1">Responsive Image</h2>
                    <div class="display-container flex-icons mb-2">
                        <img class="img-responsive" loading="lazy" src="https://picsum.photos/400/800" alt="image" srcset="">
                    </div>
                </div>
                <div class="component-code">CODE</div>


                <div class="component-display">
                    <h2 class="mb-1">Responsive Image Round</h2>
                    <div class="display-container flex-icons mb-2">
                        <img class="img-responsive-round" loading="lazy" src="/components/images/p4.jpg" alt="image" srcset="">
                    </div>
                </div>
                <div class="component-code">CODE</div>

            </div>
        </div>
    </div>
</body>
</html>