<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation | Grid</title>
    <link rel="stylesheet" href="/docs/docs.css">
    <link rel="shortcut icon" href="https://img.icons8.com/color/600/000000/snowflake.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/284b0bb15e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="grid-page-layout">
        <header class="navbar-container-grid navbar-container-flex">
            <div class="navbar-logo"><img src="https://img.icons8.com/color/40/000000/snowflake.png"/></div>
            <div class="navbar-title">Swift<span class="black">UI</span> </div>
            <div class="navbar-github">
                <a  title="install" href="/docs/docs.html" target="blank"
                    class="flex-icons fs-15">install</a> </div>
<div class="navbar-github"><a href="http://github.com/rkapoor10/swift-UI" target="blank"
                    class="flex-icons"><i class="fab fa-github"></i></a></div>
        </header>
        <div class="sidebar-container-grid">
            <div class="large-heading sidebar-heading">Components</div>


            <ul class="sidebar-items">
                <li class="sidebar-item"><a href="/components/avatar/avatar.html"><i
                            class="fas fa-user-tie s-icons"></i> Avatar</a></li>
                <li class="sidebar-item"><a href="/components/alert/alert.html"><i
                            class="fas fa-exclamation-circle s-icons"></i> Alert</a></li>
                <li class="sidebar-item"><a href="/components/badges/badges.html"><i
                            class="far fa-id-badge s-icons"></i> Badge</a></li>
                <li class="sidebar-item "><a href="/components/buttons/buttons.html"><i
                            class="fas fa-mouse s-icons"></i> Button</a></li>
                <li class="sidebar-item"><a href="/components/cards/cards.html"><i
                            class="fas fa-address-card s-icons"></i> Card</a></li>
                <li class="sidebar-item"><a href="/components/image/image.html"><i class="far fa-images s-icons"></i>
                        Image</a></li>
                <li class="sidebar-item"><a href="/components/input/input.html"><i class="far fa-keyboard s-icons"></i>
                        Input</a></li>
                <li class="sidebar-item"><a href="/components/text-utilities/text-utilities.html"><i
                            class="fas fa-heading"></i> Text Utilities</a></li>
                <li class="sidebar-item"><a href="/components/lists/lists.html"><i class="fas fa-list-ul"></i> Lists</a>
                </li>
                <li class="sidebar-item "><a href="/components/navigation/navigation.html"><i class="far fa-compass"></i>
                        Navigation</a></li>
                <li class="sidebar-item"><a href="/components/modal/modal.html"><i class="far fa-square"></i> Modal</a>
                </li>
                <li class="sidebar-item"><a href="/components/rating/rating.html"><i class="far fa-star"></i> Rating</a>
                </li>
                <li class="sidebar-item"><a href="/components/toast/toast.html"><i class="fas fa-bread-slice"></i>
                        Toast</a></li>
                <li class="sidebar-item active-item"><a href="/components/grid/grid.html"><i class="fas fa-grip-horizontal"></i>
                        Grid</a></li>
            </ul>

        </div>


        <div id="buttons">
            <div class="component-flex">
                <div class="component-info">
                    <h1 class="">Grid</h1>
                    <p class="txt-s bd-btm mb-2">
                        Gird layouts - 
                    </p>
                </div>
                <div class="component-display">
                    <h2 class="mb-1">50-50 layout</h2>
                    <div class="display-container flex-icons mb-2">
                      <div class="grid-50-layout banner-border">
                        <div>
                            <picture>
                                <source media="(min-width:1050px)" srcset="https://st4.depositphotos.com/1037473/23180/i/600/depositphotos_231806688-stock-photo-badminton-racket-shuttlecock-closeup.jpg">
                                <img src="https://wallpaperaccess.com/full/7484898.jpg " alt="">
                            </picture>
                            
                        </div>
                        <div class="center">
                            <h4 class="baseblue">New Launch</h4>
                                <h1>Yonex Astrox 150</h1>
                            <h2 class="darkorange">Unleash the Beast</h2>
                            <button class="btn-secondary txt-s">EXPLORE</button>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="component-code">
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/620512e2c6efb50015062ea9" style="width: 100%; height: 300px;" frameborder="0"></iframe>
                    </code>
                </div>

                <div class="component-display">
                    <h2 class="mb-1">30-70 layout</h2>
                    <div class="display-container flex-icons mb-2">
                      <div class="grid-30-70-layout  banner-border">
                        <div>
                            <picture>
                                <source media="(min-width:1200px)" srcset="https://st4.depositphotos.com/1037473/23180/i/600/depositphotos_231806688-stock-photo-badminton-racket-shuttlecock-closeup.jpg">
                                <img src="https://wallpaperaccess.com/full/7484898.jpg " alt="">
                            </picture>
                        </div>
                        <div class="center">
                            <h4 class="baseblue">New Launch</h4>
                                <h1>Yonex Astrox 150</h1>
                            <h2 class="darkorange">Unleash the Beast</h2>
                            <button class="btn-secondary txt-s">EXPLORE</button>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="component-code">
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/62051309c6efb50015062ead" style="width: 100%; height: 290px;" frameborder="0"></iframe>
                    </code>
                </div>

                <div class="component-display">
                    <h2 class="mb-1">70-30 layout</h2>
                    <div class="display-container flex-icons mb-2">
                      <div class="grid-70-30-layout overaly-grid  banner-border">
                        <div class="background">
                            <picture>
                                <source media="(min-width:1090px)" srcset="https://st4.depositphotos.com/1037473/23180/i/600/depositphotos_231806688-stock-photo-badminton-racket-shuttlecock-closeup.jpg">
                                <source media="(min-width:990px)" srcset="https://wallpaperaccess.com/full/7484898.jpg">
                                <img src=" https://st4.depositphotos.com/1037473/23180/i/600/depositphotos_231806688-stock-photo-badminton-racket-shuttlecock-closeup.jpg" alt="">
                            </picture>
                        </div>
                        <div class="center content">
                            <h4 class="baseblue">New Launch</h4>
                                <h1>Yonex Astrox 150</h1>
                            <h2 class="darkorange">Unleash the Beast</h2>
                            <button class="btn-secondary txt-s">EXPLORE</button>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="component-code">
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/62051384c6efb50015062eb1" style="width: 100%; height: 290px;" frameborder="0"></iframe>
                    </code>
                </div>

                <div class="component-display">
                    <h2 class="mb-1">Cards Grid Layout - Responsive</h2>
                    <div class="display-container mb-2">
                      <div class="grid-column-layout">
                        <div class="card-container">
                            <div class="parent-image">
                                <img class="image-container" src="https://picsum.photos/300/400" alt="">
                                <div class="tags-flex">
                                    <div class="tags-badge child-tags bg-baseblue">New</div>
                                    <button class="btn-round btn-heart txt-s lightteal child-wishlist"><i
                                            class="far fa-heart"></i></button>
                                </div>
                            </div>
                            <span class="whishlist-heart"></span>

                            <div class="title">
                                <h3>Large Title</h3>
                                <p class="title-small txt-s">small title</p>
                            </div>
                            <p class="price-box txt-xs fw-bold">Rs. 1345 <s class="striked">Rs. 1495</s> <span
                                    class="discount darkorange">(10% OFF)</span></p>
                            <button
                                class="btn buy-btn-padding txt-xs btn-solid cta-btn bg-lightteal white fw-semibold">BUY
                                NOW</button>
                            <button class="btn-secondary txt-xs">ADD TO CART</button>
                        </div>
                    
                        <div class="card-container">
                            <div class="parent-image">
                                <img class="image-container" src="https://picsum.photos/300/400" alt="">
                                <div class="tags-flex">
                                    <div class="tags-badge child-tags bg-baseblue">New</div>
                                    <button class="btn-round btn-heart txt-s lightteal child-wishlist"><i
                                            class="far fa-heart"></i></button>
                                </div>
                            </div>
                            <span class="whishlist-heart"></span>

                            <div class="title">
                                <h3>Large Title</h3>
                                <p class="title-small txt-s">small title</p>
                            </div>
                            <p class="price-box txt-xs fw-bold">Rs. 1345 <s class="striked">Rs. 1495</s> <span
                                    class="discount darkorange">(10% OFF)</span></p>
                            <button
                                class="btn buy-btn-padding txt-xs btn-solid cta-btn bg-lightteal white fw-semibold">BUY
                                NOW</button>
                            <button class="btn-secondary txt-xs">ADD TO CART</button>
                        </div>

                        <div class="card-container">
                            <div class="parent-image">
                                <img class="image-container" src="https://picsum.photos/300/400" alt="">
                                <div class="tags-flex">
                                    <div class="tags-badge child-tags bg-baseorange">Trending</div>
                                    <button class="btn-round btn-heart txt-s lightteal child-wishlist"><i
                                            class="far fa-heart"></i></button>
                                </div>
                                <span class="child-rating rating-box fw-semibold">4 <i
                                        class="fas fa-star baseteal"></i>| 1542 </span>
                            </div>
                            <span class="whishlist-heart"></span>
                            <div class="title">
                                <h3>Large Title</h3>
                                <p class="title-small txt-s">small title</p>
                            </div>
                            <p class="price-box txt-xs fw-bold">Rs. 3521 <s class="striked">Rs. 4695</s> <span
                                    class="discount darkorange">(Rs. 1174 OFF)</span></p>
                            <button
                                class="btn buy-btn-padding txt-xs btn-solid cta-btn bg-lightteal white fw-semibold">BUY
                                NOW</button>
                            <button class="btn-secondary txt-xs">ADD TO CART</button>
                        </div>

                        <div class="card-container">
                            <div class="parent-image">
                                <img class="image-container" src="https://picsum.photos/300/400" alt="">
                                <div class="tags-flex">
                                    <div class="tags-badge child-tags bg-baseorange">Trending</div>
                                    <button class="btn-round btn-heart txt-s lightteal child-wishlist"><i
                                            class="far fa-heart"></i></button>
                                </div>
                                <span class="child-rating rating-box fw-semibold">4 <i
                                        class="fas fa-star baseteal"></i>| 1542 </span>
                            </div>
                            <span class="whishlist-heart"></span>
                            <div class="title">
                                <h3>Large Title</h3>
                                <p class="title-small txt-s">small title</p>
                            </div>
                            <p class="price-box txt-xs fw-bold">Rs. 3521 <s class="striked">Rs. 4695</s> <span
                                    class="discount darkorange">(Rs. 1174 OFF)</span></p>
                            <button
                                class="btn buy-btn-padding txt-xs btn-solid cta-btn bg-lightteal white fw-semibold">BUY
                                NOW</button>
                            <button class="btn-secondary txt-xs">ADD TO CART</button>
                        </div>

                        

                        <div class="card-container parent-container">
                            <div class="parent-image">

                                <img class="image-container" src="https://picsum.photos/300/400" alt="">

                                <div class="tags-flex">
                                    <button class="btn-round btn-heart txt-s lightteal child-wishlist"><i
                                            class="far fa-heart"></i></button>
                                </div>

                            </div>
                            <span class="whishlist-heart"></span>


                            <div class="title">
                                <h3>Large Title</h3>
                                <p class="title-small txt-s">small title</p>
                            </div>

                            <p class="price-box txt-xs fw-bold">Rs. 3521 <s class="striked">Rs. 4695</s> <span
                                    class="discount darkorange">(Rs. 1174 OFF)</span></p>
                            <button
                                class="btn buy-btn-padding txt-xs btn-solid cta-btn bg-lightteal white fw-semibold ">BUY
                                NOW</button>
                            <button class="btn-secondary txt-xs ">ADD TO CART</button>

                            <div class="overlay-text fs-2 fw-bold">COMING SOON!</div>
                        </div>


                        <div class="card-container">
                            <div class="parent-image">

                                <img class="image-container" src="https://picsum.photos/300/400" alt="">

                                <div class="tags-flex">
                                    <button class="btn-round btn-heart txt-s lightteal child-wishlist"><i
                                            class="far fa-heart"></i></button>
                                </div>
                            </div>
                            <span class="whishlist-heart"></span>

                            <div class="title">
                                <h3>Large Title</h3>
                                <p class="title-small txt-s">small title</p>
                            </div>

                            <s class="price-box txt-xs fw-bold">Rs. 1345 <s class="striked">Rs. 1495</s> <span
                                    class="discount darkorange">(10% OFF)</span></s>

                            <button class="btn buy-btn-padding txt-xs btn-solid  white fw-semibold btn-disable"
                                disabled>
                                <p class="basered">OUT OF STOCK</p>
                            </button>

                            <button class=" btn-disable btn-secondary txt-xs " disabled>ADD TO CART</button>
                        </div>

                        
                      </div>
                    </div>
                </div>
                <div class="component-code">
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/62051402c6efb50015062eb7" style="width: 100%; height: 151px;" frameborder="0"></iframe>
                    </code>
                </div>

            </div>
        </div>
            <div class="footer-container-grid">
            <div class="prev-item"><a href="/components/toast/toast.html"><i class="fas fa-less-than"></i> Toast </a> </div>
            <div class="next-item"><a href="/docs/docs.html">Conclusion <i
                        class="fas fa-greater-than"></i></a></div>
        </div>
    </div>


    <footer class="site-footer">
        <div class="fs-1r fw-semibold">Made with <span class="baseblue">SWIFT-UI</span> by RK </div>
        <ul class="flex-icons">
            <li class="fs-15 footer-icons"><a class="" href="https://github.com/"><i
                        class="fab fa-github"></i></a></li>
            <li class="fs-15 footer-icons"><a class="link-no-style" href="https://twitter.com/"><i
                        class="fab fa-twitter"></i></a></li>
            <li class="fs-15 footer-icons"><a class="link-no-style"
                    href="https://www.linkedin.com/in/"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
        <div class="gray">© 2022 SWIFT-UI</div>
    
    </footer>
</body>

</html>