<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation | Input</title>
    <link rel="stylesheet" href="/docs/docs.css">
    <script src="https://kit.fontawesome.com/284b0bb15e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="grid-page-layout">
        <header class="navbar-container-grid navbar-container-flex">
            <div class="navbar-logo">Logo</div>
            <div class="navbar-title">Swift UI <span style="color: black;"> v.1</span> </div>
            <div class="navbar-github"><a href="http://github.com/rkapoor10/swift-UI" target="blank"
                    class="flex-icons"><i class="fab fa-github"></i></a></div>
        </header>
        <div class="sidebar-container-grid">
            <div class="large-heading sidebar-heading">Components</div>


            <ul class="sidebar-items">
                <li class="sidebar-item"><a href="/components/avatar/avatar.html"><i
                            class="fas fa-user-tie s-icons"></i> Avatar</a></li>
                <li class="sidebar-item"><a href="/components/alert/alert.html"><i
                            class="fas fa-exclamation-circle s-icons"></i> Alert</a></li>
                <li class="sidebar-item"><a href="/components/badges/badges.html"><i
                            class="far fa-id-badge s-icons"></i> Badge</a></li>
                <li class="sidebar-item "><a href="/components/buttons/buttons.html"><i
                            class="fas fa-mouse s-icons"></i> Button</a></li>
                <li class="sidebar-item"><a href="/components/cards/cards.html"><i
                            class="fas fa-address-card s-icons"></i> Card</a></li>
                <li class="sidebar-item "><a href="/components/image/image.html"><i class="far fa-images s-icons"></i>
                        Image</a></li>
                <li class="sidebar-item active-item"><a href="/components/input/input.html"><i
                            class="far fa-keyboard s-icons"></i> Input</a></li>
            </ul>

        </div>


        <div id="input">
            <div class="component-flex">
                <div class="component-info">
                    <h1 class="">Input</h1>
                    <p class="txt-m bd-btm mb-2">
                        Various forms and Inputs
                    </p>
                </div>
                <div class="component-display">
                    <h2 class="mb-1">Input - TextArea</h2>
                    <div class="display-container flex-icons mb-2">

                        <div class="text-area-container">
                            <textarea class="text-area" placeholder="Enter your message" name="msg-input" cols="30"
                                rows="10"></textarea>
                            <button class="btn btn-padding txt-s btn-solid white bg-blue btn-hover"><i
                                    class="fas fa-paper-plane"></i> SEND</button>
                        </div>

                    </div>
                </div>
                <div class="component-code">CODE</div>


                <div class="component-display">
                    <h2 class="mb-1">Login Form</h2>
                    <div class="display-container flex-icons mb-2">
                        <div class="login-form-grid-layout ">
                            <div class="banner-layout banner-style">
                                <div class="banner-flex">
                                    <div class="form-head">
                                        <h1 class="white">Login</h1>
                                        <p class="form-content txt-s">Get access to your Orders, Wishlist and
                                            Recommendations</p>
                                    </div>

                                    <img class="form-hero" src="/components/images/form-hero.svg" alt="form-hero" srcset="">
                                </div>
                            </div>
                            <div class="form-layout">
                                <div class="form-container">
                                <div class="tabs-layout">
                                    <button class="txt-m form-tabs active">Login</button><span class="lightgray">|</span>
                                    <button class="txt-m form-tabs">SignUp</button>
                                </div>

                                <form class="form-styles" action="submit">

                                    <input class="input-field fs-1r fw-semibold" type="email" placeholder="Enter Email/Mobile number">
                                    <input class="input-field fs-1r fw-semibold" type="password" placeholder="Enter Password">
                                    <span class="w-80">By continuing, you agree to Swift-UI <span class="baseteal fw-semibold">Terms of Use</span>  and <span class="baseteal fw-semibold">Privacy Policy</span>.</span>

                                    <button class="btn btn-padding txt-s btn-outline secondary-cta-btn white bg-basepink w-80">LOGIN</button>
                                    <span>OR</span>
                                    <button class="btn-secondary txt-s w-80">Request OTP</button>


                                </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="component-code">CODE</div>

            
                <div class="component-display">
                    <h2 class="mb-1">Input Validations</h2>
                    <div class="display-container flex-icons mb-2">
                            <div class="form-layout">
                                <div class="tabs-layout">
                                    <button class="txt-m form-tabs active">Login</button><span class="lightgray">|</span>
                                    <button class="txt-m form-tabs">SignUp</button>
                                </div>

                                <form class="form-styles" action="submit">

                                    <input class="input-field fs-1r fw-semibold mt-2 error" type="email" placeholder="Enter Email/Mobile number">
                                    <span class="w-80 basered">email already exists!</span>
                                    
                                    <input class="input-field fs-1r fw-semibold error" type="password" placeholder="Enter Password">
                                    <span class="w-80 basered">incorrect password!</span>
                                    <span class="w-80">By continuing, you agree to Swift-UI <span class="baseteal fw-semibold">Terms of Use</span>  and <span class="baseteal fw-semibold">Privacy Policy</span>.</span>

                                    <button class="btn btn-padding txt-s btn-outline secondary-cta-btn white bg-basepink w-80">LOGIN</button>
                                    <span>OR</span>
                                    <button class="btn-secondary txt-s w-80">Request OTP</button>

                                </form>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="component-code">CODE</div>

            </div>
        </div>
    </div>
</body>

</html>