<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation | Cards</title>
    <link rel="stylesheet" href="/docs/docs.css">
    <script src="https://kit.fontawesome.com/284b0bb15e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="grid-page-layout">
        <header class="navbar-container-grid navbar-container-flex">
            <div class="navbar-logo">Logo</div>
            <div class="navbar-title">Swift UI <span style="color: black;"> v.1</span> </div>
            <div class="navbar-github"><a href="http://github.com/rkapoor10/swift-UI" target="blank"
                    class="flex-icons"><i class="fab fa-github"></i></a></div>
        </header>
        <div class="sidebar-container-grid">
            <div class="large-heading sidebar-heading">Components</div>


            <ul class="sidebar-items">
                <li class="sidebar-item"><a href="/components/avatar/avatar.html"><i
                            class="fas fa-user-tie s-icons"></i> Avatar</a></li>
                <li class="sidebar-item"><a href="/components/alert/alert.html"><i
                            class="fas fa-exclamation-circle s-icons"></i> Alert</a></li>
                <li class="sidebar-item"><a href="/components/badges/badges.html"><i
                            class="far fa-id-badge s-icons"></i> Badge</a></li>
                <li class="sidebar-item active-item"><a href="/components/buttons/buttons.html"><i class="fas fa-mouse s-icons"></i> Button</a></li>
                <li class="sidebar-item"><a href="/components/cards/cards.html"><i class="fas fa-address-card s-icons"></i> Card</a></li>
                <li class="sidebar-item"><a href="/components/image/image.html"><i class="far fa-images s-icons"></i> Image</a></li>
                <li class="sidebar-item"><a href="/components/input/input.html"><i class="far fa-keyboard s-icons"></i> Input</a></li>
            </ul>

        </div>


        <div id="buttons">
            <div class="component-flex">
                <div class="component-info">
                    <h1 class="">Buttons</h1>
                    <p class="txt-m brd-btm marb-2">
                        Various forms of buttons
                    </p>
                </div>
                <div class="component-display">
                    <h2 class="marb-1">Solid - Buttons</h2>
                    <div class="display-container flex-icons marb-2">
                        <button class="btn btn-padding txt-s btn-solid bg-green white">Primary</button>
                        <button class="btn btn-padding txt-s btn-solid white bg-blue btn-hover">Hover</button>
                        <button class="btn btn-padding txt-s btn-solid white bg-basered btn-active">Acitve</button>
                        <button class="btn btn-padding txt-s btn-solid white bg-lightyellow btn-disable" disabled>Disabled</button>
                    </div>

                </div>
                <div class="component-code">CODE</div>

                <div class="component-display">
                    <h2 class="marb-1">Outline - Buttons</h2>
                    <div class="display-container flex-icons marb-2">
                        <button class="btn btn-padding txt-s btn-outline green brc-darkgreen">Primary</button>
                        <button class="btn btn-padding txt-s btn-outline darkblue brc-baseblue outline-hover">Hover</button>
                        <button class="btn btn-padding txt-s btn-outline darkred brc-darkred outline-active" >Acitve</button>
                        <button class="btn btn-padding txt-s btn-outline darkyellow brc-darkyellow btn-disable" disabled>Disabled</button>
                        
                    </div>
                </div>
                <div class="component-code">CODE</div>

                <div class="component-display">
                    <h2 class="marb-1">Toggle - Buttons</h2>
                    <div class="display-container flex-icons marb-2">
                        <div class="flex-btns">
                            <button class="btn-round txt-m darkblue fw-bold">+</button>
                            <span class="txt-m">1</span>
                            <button class="btn-round txt-m darkblue fw-bold">-</button>
                        </div>
    
                    </div>
                </div>
                <div class="component-code">CODE</div>

                <div class="component-display">
                    <h2 class="marb-1">Icon - Buttons</h2>
                    <div class="display-container flex-icons marb-2">
                        <button class="btn-icon btn-heart gray"><i class="fs-15 fas fa-heart"></i></button>
                        <button class="btn-icon btn-trash gray"><i class="fs-15 fas fa-trash-alt"></i></button>
                        <button class="btn-icon btn-cart gray"><i class="fs-15 fas fa-shopping-cart"></i></button>
                        <button class="btn-icon btn-chat gray"><i class="fs-15 fas fa-comment-alt"></i></button>
                    </div>

                </div>
                <div class="component-code">CODE</div>

                <div class="component-display">
                    <h2 class="marb-1">Utility - Buttons</h2>
                    <div class="display-container flex-icons marb-2">
                        <button class="btn btn-padding txt-s btn-outline login-btn white bg-basepink">LOGIN</button>
                        <button class="txt-s signup-btn">SIGNUP</button>
                        <button class="btn-secondary txt-s"><i class="far fa-heart"></i> WISHLIST</button>
                    </div>

                </div>
                <div class="component-code">CODE</div>
            </div>
        </div>
    </div>
</body>
</html>