/* AVATAR CSS */

.avatar{
    border-radius: 50%;
    border: 2px solid var(--lightgray-color);
    object-fit: cover;
    
}

.text-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--baseblue-color);
    color: var(--lightgray-color);
}

.square-avatar{
    display: flex;
    justify-content: center;
    align-items: center;

}

.size-XL{
    height: 10rem;
    width: 10rem;
}

.size-L{
    height: 8rem;
    width: 8rem;
}

.size-M{
    height: 6rem;
    width: 6rem;
}

.size-S{
    height: 4rem;
    width: 4rem;
}

.flex-icons{
    gap: 50px;
    align-items: baseline;
    flex-wrap: wrap;
}