<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation | Toast</title>
    <link rel="stylesheet" href="/docs/docs.css">
    <link rel="shortcut icon" href="https://img.icons8.com/color/600/000000/snowflake.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/284b0bb15e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="grid-page-layout">
        <header class="navbar-container-grid navbar-container-flex">
            
<div class="navbar-logo"><img src="https://img.icons8.com/color/40/000000/snowflake.png"/></div>
            <div class="navbar-title">Swift<span class="black">UI</span></div>
            <div class="navbar-github">
                <a  title="install" href="/docs/docs.html" target="blank"
                    class="flex-icons fs-15">install</a> </div>
<div class="navbar-github"><a href="http://github.com/rkapoor10/swift-UI" target="blank"
                    class="flex-icons"><i class="fab fa-github"></i></a></div>
        </header>
        <div class="sidebar-container-grid">
            <div class="large-heading sidebar-heading">Components</div>


            <ul class="sidebar-items">
                <li class="sidebar-item"><a href="/components/avatar/avatar.html"><i
                            class="fas fa-user-tie s-icons"></i> Avatar</a></li>
                <li class="sidebar-item"><a href="/components/alert/alert.html"><i
                            class="fas fa-exclamation-circle s-icons"></i> Alert</a></li>
                <li class="sidebar-item"><a href="/components/badges/badges.html"><i
                            class="far fa-id-badge s-icons"></i> Badge</a></li>
                <li class="sidebar-item "><a href="/components/buttons/buttons.html"><i
                            class="fas fa-mouse s-icons"></i> Button</a></li>
                <li class="sidebar-item"><a href="/components/cards/cards.html"><i
                            class="fas fa-address-card s-icons"></i> Card</a></li>
                <li class="sidebar-item"><a href="/components/image/image.html"><i class="far fa-images s-icons"></i>
                        Image</a></li>
                <li class="sidebar-item"><a href="/components/input/input.html"><i class="far fa-keyboard s-icons"></i>
                        Input</a></li>
                <li class="sidebar-item"><a href="/components/text-utilities/text-utilities.html"><i
                            class="fas fa-heading"></i> Text Utilities</a></li>
                <li class="sidebar-item"><a href="/components/lists/lists.html"><i class="fas fa-list-ul"></i> Lists</a>
                </li>
                <li class="sidebar-item "><a href="/components/navigation/navigation.html"><i class="far fa-compass"></i>
                        Navigation</a></li>
                <li class="sidebar-item"><a href="/components/modal/modal.html"><i class="far fa-square"></i> Modal</a>
                </li>
                <li class="sidebar-item"><a href="/components/rating/rating.html"><i class="far fa-star"></i> Rating</a>
                </li>
                <li class="sidebar-item active-item"><a href="/components/toast/toast.html"><i class="fas fa-bread-slice"></i>
                        Toast</a></li>
                <li class="sidebar-item"><a href="/components/grid/grid.html"><i class="fas fa-grip-horizontal"></i>
                        Grid</a></li>
                <li class="sidebar-item"><a href="/components/slider/slider.html"><i class="fas fa-sliders-h"></i>
                        Slider</a></li>
            </ul>

        </div>


        <div id="buttons">
            <div class="component-flex">
                <div class="component-info">
                    <h1 class="">Toast</h1>
                    <p class="txt-s bd-btm mb-2">
                        Toast Component
                    </p>
                </div>
                <div class="component-display">
                    <h2 class="mb-1">Types-</h2>
                    <div class="display-container flex-icons mb-2">
                        <div class="btns-div">
                            <button class="btns">Leading</button>
                            <button class="btns">Baseline</button>
                            <button class="btns">Stacked</button>
                          </div>
                      
                         
                            <div class="toast baseline">
                              <p class="content">Can't send photo. Retry in 5 seconds.</p>
                              <button class="retry-btn btn-style">RETRY</button>
                              <i class="close-icon fas fa-times"></i>
                            </div>
                      
                            <div class="toast leading">
                              <p class="content">Your photo has been archived.</p>
                              <button class="undo-btn btn-style">UNDO</button>
                              <i class="close-icon fas fa-times"></i>
                            </div>
                      
                            <div class="toast stacked">
                              <p class="content">
                                This item already has the label "travel". You can add a new label.
                              </p>
                              <div class="stacked-footer">
                                <button class="label-btn btn-style">ADD A NEW LABEL</button>
                                <i class="close-icon fas fa-times"></i>
                              </div>
                            </div>
                    </div>
                </div>
                <div class="component-code">
                    <h4>Baseline Toast</h4>
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/620511bac6efb50015062ea5" style="width: 100%; height: 170px;" frameborder="0"></iframe>
                    </code>
                </div>
                <div class="component-code">
                    <h4>Leading Toast</h4>
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/620511d6c6efb50015062ea6" style="width: 100%; height: 170px;" frameborder="0"></iframe>
                    </code>
                </div>
                <div class="component-code">
                    <h4>Stacked Toast</h4>
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/620511f8c6efb50015062ea7" style="width: 100%; height: 220px;" frameborder="0"></iframe>
                    </code>
                </div>

            </div>
        </div>
        <div class="footer-container-grid">
            <div class="prev-item"><a href="/components/rating/rating.html"><i class="fas fa-less-than"></i> Rating </a> </div>
            <div class="next-item"><a href="/components/grid/grid.html">Grid <i
                        class="fas fa-greater-than"></i></a></div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="fs-1r fw-semibold">Made with <span class="baseblue">SWIFT-UI</span> by RK </div>
        <ul class="flex-icons">
            <li class="fs-15 footer-icons"><a class="" href="https://github.com/"><i
                        class="fab fa-github"></i></a></li>
            <li class="fs-15 footer-icons"><a class="link-no-style" href="https://twitter.com/"><i
                        class="fab fa-twitter"></i></a></li>
            <li class="fs-15 footer-icons"><a class="link-no-style"
                    href="https://www.linkedin.com/in/"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
        <div class="gray">© 2022 SWIFT-UI</div>
    
    </footer>
    <script src="./toast.js"></script>
</body>

</html>