.component-flex{
    margin:1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.component-display{
    margin-top: 3rem;
}


.bold{
    font-weight: bold;
}


.display-container{
   width: auto;
   padding: 1rem;
   background-color:var(--lightshade-blue);
}

