<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation | Cards</title>
    <link rel="stylesheet" href="/docs/docs.css">
    <script src="https://kit.fontawesome.com/284b0bb15e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="grid-page-layout">
        <header class="navbar-container-grid navbar-container-flex">
            <div class="navbar-logo">Logo</div>
            <div class="navbar-title">Swift UI <span style="color: black;"> v.1</span> </div>
            <div class="navbar-github"><a href="http://github.com/rkapoor10/swift-UI" target="blank"
                    class="flex-icons"><i class="fab fa-github"></i></a></div>
        </header>
        <div class="sidebar-container-grid">
            <div class="large-heading sidebar-heading">Components</div>


            <ul class="sidebar-items">
                <li class="sidebar-item"><a href="/components/avatar/avatar.html"><i
                            class="fas fa-user-tie s-icons"></i> Avatar</a></li>
                <li class="sidebar-item"><a href="/components/alert/alert.html"><i
                            class="fas fa-exclamation-circle s-icons"></i> Alert</a></li>
                <li class="sidebar-item"><a href="/components/badges/badges.html"><i
                            class="far fa-id-badge s-icons"></i> Badge</a></li>
                <li class="sidebar-item"><a href="/components/buttons/buttons.html"><i class="fas fa-mouse s-icons"></i>
                        Button</a></li>
                <li class="sidebar-item active-item"><a href="/components/cards/cards.html"><i
                            class="fas fa-address-card s-icons"></i> Card</a></li>
                <li class="sidebar-item"><a href="/components/image/image.html"><i class="far fa-images s-icons"></i>
                        Image</a></li>
                <li class="sidebar-item"><a href="/components/input/input.html"><i class="far fa-keyboard s-icons"></i>
                        Input</a></li>
            </ul>

        </div>


        <div id="cards">
            <div class="component-flex">
                <div class="component-info">
                    <h1 class="">Cards</h1>
                    <p class="txt-m bd-btm mb-2">
                        Various card layouts
                    </p>
                </div>

                <div class="component-display">
                    <h2 class="mb-1">Portrait - Cards </h2>
                    <div class="display-container flex-icons mb-2">

                        <div class="card-container">
                            <div class="parent-image">
                                <img class="image-container" src="https://picsum.photos/300/400" alt="">
                                <div class="tags-flex">
                                    <div class="tags-badge child-tags bg-baseblue">New</div>
                                    <button class="btn-round btn-heart txt-s lightteal child-wishlist"><i
                                            class="far fa-heart"></i></button>
                                </div>
                            </div>
                            <span class="whishlist-heart"></span>

                            <div class="title">
                                <h3>Large Title</h3>
                                <p class="title-small txt-s">small title</p>
                            </div>
                            <p class="price-box txt-xs fw-bold">Rs. 1345 <s class="striked">Rs. 1495</s> <span
                                    class="discount darkorange">(10% OFF)</span></p>
                            <button
                                class="btn buy-btn-padding txt-xs btn-solid cta-btn bg-lightteal white fw-semibold">BUY
                                NOW</button>
                            <button class="btn-secondary txt-xs">ADD TO CART</button>
                        </div>

                        <!-- TYPE 2 -->

                        <div class="card-container">
                            <div class="parent-image">
                                <img class="image-container" src="https://picsum.photos/300/400" alt="">
                                <div class="tags-flex">
                                    <div class="tags-badge child-tags bg-baseorange">Trending</div>
                                    <button class="btn-round btn-heart txt-s lightteal child-wishlist"><i
                                            class="far fa-heart"></i></button>
                                </div>
                                <span class="child-rating rating-box fw-semibold">4 <i
                                        class="fas fa-star baseteal"></i>| 1542 </span>
                            </div>
                            <span class="whishlist-heart"></span>
                            <div class="title">
                                <h3>Large Title</h3>
                                <p class="title-small txt-s">small title</p>
                            </div>
                            <p class="price-box txt-xs fw-bold">Rs. 3521 <s class="striked">Rs. 4695</s> <span
                                    class="discount darkorange">(Rs. 1174 OFF)</span></p>
                            <button
                                class="btn buy-btn-padding txt-xs btn-solid cta-btn bg-lightteal white fw-semibold">BUY
                                NOW</button>
                            <button class="btn-secondary txt-xs">ADD TO CART</button>
                        </div>



                    </div>
                </div>

                <div class="component-code">
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/61fc35456ab14d0015c32e08" style="width: 100%; height: 333px;" frameborder="0"></iframe>
                    </code>
                </div>

                <div class="component-code">
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/61fc34de6ab14d0015c32e07" style="width: 100%; height: 333px;" frameborder="0"></iframe>
                    </code>
                </div>



                <div class="component-display">
                    <h2 class="mb-1">Portrait - Cards - Out Of Stock </h2>
                    <div class="display-container flex-icons mb-2">
                        <div class="card-container">
                            <div class="parent-image">

                                <img class="image-container" src="https://picsum.photos/300/400" alt="">

                                <div class="tags-flex">
                                    <button class="btn-round btn-heart txt-s lightteal child-wishlist"><i
                                            class="far fa-heart"></i></button>
                                </div>
                            </div>
                            <span class="whishlist-heart"></span>

                            <div class="title">
                                <h3>Large Title</h3>
                                <p class="title-small txt-s">small title</p>
                            </div>

                            <s class="price-box txt-xs fw-bold">Rs. 1345 <s class="striked">Rs. 1495</s> <span
                                    class="discount darkorange">(10% OFF)</span></s>

                            <button class="btn buy-btn-padding txt-xs btn-solid  white fw-semibold btn-disable"
                                disabled>
                                <p class="basered">OUT OF STOCK</p>
                            </button>

                            <button class=" btn-disable btn-secondary txt-xs " disabled>ADD TO CART</button>
                        </div>


                        <div class="card-container parent-container">
                            <div class="parent-image">

                                <img class="image-container" src="https://picsum.photos/300/400" alt="">

                                <div class="tags-flex">
                                    <button class="btn-round btn-heart txt-s lightteal child-wishlist"><i
                                            class="far fa-heart"></i></button>
                                </div>

                            </div>
                            <span class="whishlist-heart"></span>


                            <div class="title">
                                <h3>Large Title</h3>
                                <p class="title-small txt-s">small title</p>
                            </div>

                            <p class="price-box txt-xs fw-bold">Rs. 3521 <s class="striked">Rs. 4695</s> <span
                                    class="discount darkorange">(Rs. 1174 OFF)</span></p>
                            <button
                                class="btn buy-btn-padding txt-xs btn-solid cta-btn bg-lightteal white fw-semibold ">BUY
                                NOW</button>
                            <button class="btn-secondary txt-xs ">ADD TO CART</button>

                            <div class="overlay-text fs-2 fw-bold">COMING SOON!</div>
                        </div>



                    </div>
                </div>
                <div class="component-code">
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/61fc359f6ab14d0015c32e09" style="width: 100%; height: 398px;" frameborder="0"></iframe>
                    </code>
                </div>

                <div class="component-code">
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/61fc36a26ab14d0015c32e0a" style="width: 100%; height: 411px;" frameborder="0"></iframe>
                    </code>
                </div>


                <div class="component-display">
                    <h2 class="mb-1">Landscape - Cards </h2>


                    <div class="display-container flex-icons mb-2">


                        <div class="card-container-horizontal">
                            <div class="flex-txt">
                                <img class="image-container-horizontal" src="https://picsum.photos/111/148" alt="">
                                <div>
                                    <h3>Large Title</h3>
                                    <p class="title-small txt-s mb-1">small title</p>
                                    <div class="flex-txt mb-1">
                                        <button class="btn-round-small txt-s baseteal ">+</button>
                                        <span class="txt-s">1</span>
                                        <button class="btn-round-small txt-s baseteal ">-</button>
                                    </div>
                                    <p class="mtb-1 price-box txt-xs fw-bold">Rs. 1345 <s class="striked">Rs. 1495</s>
                                        <span class="discount darkorange">(10% OFF)</span></p>
                                </div>
                            </div>
                            <div>
                                <button class="btn-secondary txt-s"> REMOVE</button>
                                <button class="btn-secondary txt-s baseteal"><i class="far fa-heart"></i>
                                    WISHLIST</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="component-code">
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/61fc372e6ab14d0015c32e0b" style="width: 100%; height: 385px;" frameborder="0"></iframe>
                    </code>
                </div>


                <div class="component-display">
                    <h2 class="mb-1">Landscape - Text - Cards </h2>


                    <div class="display-container flex-icons mb-2">

                        <div class="card-container-horizontal">
                            <div class="flex-txt ">
                                <h3>Large Title</h3>
                                <p class="title-small txt-s">small title</p>
                            </div>
                            <div>
                                <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                                    demonstrate the visual form of a document or a typeface without relying on
                                    meaningful content. Lorem ipsum may be used as a placeholder before the final copy
                                    is</p>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="component-code">
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/61fc38066ab14d0015c32e0d" style="width: 100%; height: 255px;" frameborder="0"></iframe>
                    </code>
                </div>


                <div class="component-display">
                    <h2 class="mb-1">Landscape - Text - Cards with Image Overlay</h2>


                    <div class="display-container flex-icons mb-2">

                        <div class="card-container-horizontal parent-container">
                            <div class="flex-txt ">
                                <h3>Large Title</h3>
                                <p class="title-small txt-s">small title</p>
                            </div>
                            <div>
                                <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                                    demonstrate the visual form of a document or a typeface without relying on
                                    meaningful content. Lorem ipsum may be used as a placeholder before the final copy
                                    is</p>
                            </div>
                            <img class="overlay-image" src="https://picsum.photos/420/220" alt="">
                        </div>


                    </div>
                </div>
                <div class="component-code">
                    <code>
                        <iframe src="https://www.thiscodeworks.com/embed/61fc387b6ab14d0015c32e0e" style="width: 100%; height: 281px;" frameborder="0"></iframe>
                    </code>
                </div>






            </div>
        </div>
    </div>
</body>

</html>