.card-container {
    background-color: var(--white-color);
    padding: 0.5rem;
    display: flex;
    gap: 10px;
    width: 16rem;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--lightgray-color);
    border-radius: 0.3rem;
    box-shadow: 0 1px 5px 0px var(--lightgray-color);
}

.card-container:hover {
    border: 2px solid var(--lightteal-color);
    box-shadow: 0 1px 5px 2px var(--lightgray-color);
}

.image-container {

    /* height: 296px;
    width: 222px; */
}

.title-small {
    color: var(--gray-color);
}

/* || TAGS AND BADGES ------------------------------------*/

.parent-image {
    position: relative;
}

.child-tags {
    position: absolute;
    top: 0rem;
    left: -0.05rem;
}

.child-wishlist {
    position: absolute;
    top: 1rem;
    left: 11rem;
}




.tags-badge {
    margin: 1rem 0;
    color: var(--white-color);
    padding: 0.3rem 2rem 0.3rem 1rem;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
}





/* || RATING BOX ------------------------------- */

.rating-box {
    max-width: fit-content;
    padding: 0.1rem;
    border-radius: 0.1rem;
    border: 1px solid var(--lightgray-color);
    background-color: var(--white-color);
    opacity: 0.8;
}

.child-rating {
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;

}


/* || OVERLAY TEXT -----------------------------------------*/
.parent-container {
    position: relative;
}

.overlay-text {
    position: absolute;
    flex-wrap: wrap;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightgray-color);
    opacity: 0.5;
    padding: 0.5rem;
}

.overlay-text:hover {
    display: none;
    
}



/* || Landscape Cards ---------------------------*/
.card-container-horizontal {
    background-color: var(--white-color);
    padding: 0.5rem;
    display: flex;
    gap: 10px;
    width: 420px;
    height: 220px;
    flex-direction: column;
    justify-content: center;
 
    border: 2px solid var(--lightgray-color);
    border-radius: 0.3rem;
    box-shadow: 0 1px 5px 0px var(--lightgray-color);
}

.image-container-horizontal {
   
    height: 148px;
    width: 111px;
}


/* || OVERLAY IMAGE ----------------------- */

.overlay-image {
    position: absolute;
    width: 420px;
    height: 220px;
    flex-wrap: wrap;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}