@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root{
    --primary-color: blue;
    --white-color: white;
    --black-color: black;
    --gray-color: gray;
    --lightgray-color: lightgray;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

button{
    cursor: pointer;
    border: none;
}

a{
    text-decoration: none;
    color: inherit;
}

[class^="f"]{
    font-size: inherit;
    color: inherit;
}

.flex-icons{
    display: flex;
}