@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root{
    --primary-color: blue;
    --white-color: white;
    --black-color: black;
    --darkgray-color:#333333;
    --gray-color: gray;
    --lightgray-color: lightgray;
    --lightergray-color:#e2e8f0;
    --lightshade-blue: #f0f9ff;
    --basered-color:#ef4444;
    --darkred-color:#dc2626;
    --baseorange-color:#f97316;
    --darkorange-color:#ea580c;
    --basepink-color:#ff3f6c;
    --basegreen-color:#22c55e;
    --darkgreen-color:#16a34a;
    --baseblue-color:#3b82f6;
    --darkblue-color:#2563eb;
    --darkorchid-color:darkorchid;
    --lightorchid-color:#af8ddd;
    --darkyellow-color: #f59e0b;
    --lightyellow-color: #fde68a;
    
    /* --darkorchid-color:#2563eb;
    --lightorchid-color:#3b82f6; */
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,li{
    list-style: none;
}



img,iframe{
    max-inline-size: 100%;
    block-size: auto;
}
/* [class^="f"]{
    font-size: inherit;
    color: inherit;
} */

.flex-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap:15px; */
    justify-content: space-evenly;
}

.flex-txt{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* .flex-column{
    display: flex;
} */


.brd-btm{
    border-bottom: 2px solid var(--lightgray-color);
}

.bg-green{
    background-color: var(--basegreen-color);
}
.bg-yellow{
    background-color: var(--darkyellow-color);

}

.bg-lightyellow{
    background-color: var(--lightyellow-color);
}
.bg-red{
    background-color: var(--darkred-color);
}
.bg-basered{
    background-color: var(--basered-color);
}

.bg-gray{
    background-color: var(--gray-color);
}

.bg-pink{
    background-color:var(--basepink-color);
}

.bg-orange{
    background-color:var(--baseorange-color);
}

.bg-blue{
    background-color:var(--baseblue-color);
}

.brc-baseblue{
    border-color:var(--baseblue-color);
}

.brc-darkblue{
    border-color:var(--darkblue-color);
}
.brc-darkgreen{
    border-color:var(--darkgreen-color);
}
.brc-darkred{
    border-color:var(--darkred-color);
}
.brc-darkyellow{
    border-color:var(--darkyellow-color);
}

.brc-gray{
    border-color:var(--gray-color);
}

.white{
    color: var(--white-color);
}

.black{
    color: var(--black-color);
}

.green{
    color: var(--darkgreen-color);
}

.pink{
    color:var(--basepink-color);
}

.blue{
    color:var(--baseblue-color);
}

.darkblue{
    color:var(--darkblue-color);
}

.darkred{
    color:var(--darkred-color);
}

.darkyellow{
    color:var(--darkyellow-color);
}

.gray{
    color: var(--gray-color);
}