@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --primary-color: #2a5bfd;
    --white-color: rgb(255, 255, 255);
    --black-color: black;
    --darkgray-color:#363636;
    --gray-color: gray;
    --lightgray-color: lightgray;
    --lightergray-color:#e2e8f0;
    --lightshade-blue: #f0f9ff;
    --basered-color:#ef4444;
    --darkred-color:#dc2626;
    --baseorange-color:#f97316;
    --darkorange-color:#ea580c;
    --basepink-color:#ff3e6b;
    --darkpink-color:#ff194f;
    --basegreen-color:#22c55e;
    --darkgreen-color:#16a34a;
    --baseblue-color:#3b82f6;
    --darkblue-color:#2563eb;
    --darkorchid-color:darkorchid;
    --lightorchid-color:#af8ddd;
    --darkyellow-color: #f59e0b;
    --lightyellow-color: #fde68a;
    --lightteal-color:#05ca99;
    --baseteal-color:#04ad83;
    --darkteal-color:#04926f;
    --secondary-color:#5367ff;
    --darksecondary-color:#344bfa;;
    
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,li{
    /* list-style: none; */
    list-style-type: none;
}





img,iframe{
    max-inline-size: 100%;
    block-size: auto;
}

/* [class^="f"]{
    font-size: inherit;
    color: inherit;
} */



.divider{
    margin-bottom: 1rem;
    width: 100%;
    height: 1px;
    background-color: var(--gray-color);
}


.align-center{
    text-align: center;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-txt{
    display: flex;
    align-items: center;
    gap: 15px;
}

.alignitems-c{
    align-items: center;
}

.juscon-c{
    justify-content: center;
}


.column-flex{
    display: flex;
    flex-direction: column;  
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.wrapit{
    display: flex;
    flex-wrap: wrap;
}


.bd-btm{
    border-bottom: 2px solid var(--lightgray-color);
}

.bg-green{
    background-color: var(--basegreen-color);
}
.bg-yellow{
    background-color: var(--darkyellow-color);

}

.bg-lightteal{
    background-color: var(--lightteal-color);
}

.bg-baseteal{
    background-color: var(--baseteal-color);
}

.bg-darkteal{
    background-color: var(--darkteal-color);
}

.bg-lightyellow{
    background-color: var(--lightyellow-color);
}
.bg-red{
    background-color: var(--darkred-color);
}
.bg-basered{
    background-color: var(--basered-color);
}

.bg-baseorange{
    background-color: var(--baseorange-color);
}

.bg-gray{
    background-color: var(--gray-color);
}

.bg-white{
    background-color: var(--white-color);
}

.bg-basepink{
    background-color:var(--basepink-color);
}

.bg-orange{
    background-color:var(--baseorange-color);
}

.bg-blue{
    background-color:var(--baseblue-color);
}
.bg-baseblue{
    background-color:var(--baseblue-color);
}

.brc-baseblue{
    border-color:var(--baseblue-color);
}

.brc-darkblue{
    border-color:var(--darkblue-color);
}
.brc-darkgray{
    border-color:var(--darkgray-color);
}
.brc-lightteal{
    border-color: var(--lightteal-color);
}

.brc-baseteal{
    border-color: var(--baseteal-color);
}

.brc-darkteal{
    border-color: var(--darkteal-color);
}

.brc-darkgreen{
    border-color:var(--darkgreen-color);
}
.brc-darkred{
    border-color:var(--darkred-color);
}
.brc-darkyellow{
    border-color:var(--darkyellow-color);
}

.brc-gray{
    border-color:var(--gray-color);
}

.white{
    color: var(--white-color);
}

.black{
    color: var(--black-color);
}

.green{
    color: var(--darkgreen-color);
}

.pink{
    color:var(--basepink-color);
}

.blue{
    color:var(--baseblue-color);
}

.baseblue{
    color:var(--baseblue-color);
}

.lightteal{
    color: var(--lightteal-color);
}

.baseteal{
    color: var(--baseteal-color);
}

.darkteal{
    color: var(--darkteal-color);
}

.darkorange{
    color:var(--darkorange-color);
}

.darkblue{
    color:var(--darkblue-color);
}

.basered{
    color:var(--basered-color);
}

.darkred{
    color:var(--darkred-color);
}

.darkyellow{
    color:var(--darkyellow-color);
}

.gray{
    color: var(--gray-color);
}
.lightgray{
    color: var(--lightgray-color);
}