.grid-page-layout{
    display: grid;
    grid-template-areas: 
    
    "head head head head head head head head head head head head"
    "side side main main main main main main main main main main "
    "side side main main main main main main main main main main "
    "side side main main main main main main main main main main "
    "side side main main main main main main main main main main "
    "side side foot foot foot foot foot foot foot foot foot foot"
    ;
}

.navbar-container-grid{
    grid-area: head;
}

.sidebar-container-grid{
   grid-area: side;
   border-right: 1px solid var(--lightshade-blue);
   background-color: var(--lightshade-blue);
   width: 15rem;
   
}
  
/* .sticky{
    height: 100vh;
    position: sticky;
    top: 0;
} */

.logo-form{
    margin-top: 5rem;
}

.main-container-grid{
    grid-area: main;
    height: 100vh;
}

.footer-container-grid{
    grid-area: foot;
    background-color: aqua;
    width: 100%;
    height: 3rem;
    
}

.extra-space{
    height: 10rem;
}