@import '/stylesheets/base.css';

.navbar-container-flex{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 1.5rem;
    justify-content: space-between;
    border: 5px solid var(--lightshade-blue);
    box-shadow: 0 0 10px var(--lightshade-blue);  
    /* check if this is applying */
}

.navbar-logo{
    /* font-size: 1rem; */
}

.navbar-title{
    flex-grow: 1;
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: bold;
}

.navbar-github{
    color: var(--black-color);
    font-size: 2rem;
}
.navbar-github:hover{
    color: var(--primary-color);
}
